@import ../style/samolazoff-reset
@import ../style/var
@import ../style/samolazoff-framework
@import ../style/sass-mixin

.app
    width: 100%
    min-height: 100vh
    font-family: $font-primary
    @include flex-position(space-between, center )